<ion-view view-title="Menu">
    <div class="tabs-striped tabs-color-royal">
      <ul class="tabs">
        <li ng-repeat="category in categories"
            ng-class="{'tab-item-active':isSelected(category.id)}"
            class="tab-item">
          <a ng-click="select(category.id)">{{category.name}}</a>
        </li>
      </ul>
    </div>

  <ion-content>
    {{message}}
    <ion-list>
      <ion-item ng-repeat="dish in dishes | filter:{category: filtText}" 
                    href="#/app/menu/{{dish.id}}"
                    class="item-thumbnail-left">

        <img src="{{baseURL + dish.image}}" alt="{{dish.name}}">
        <span class="badge badge-assertive" ng-if="isFavorite(dish.id)">
          <span class="ion-ios-star icon" aria-label="favorite">
          </span>
        </span>
        <span class="badge badge-assertive" ng-if="!isFavorite(dish.id)">{{dish.label}}</span>
        <h2><br>{{dish.name}}
        <span style="font-size:75%">{{dish.price | currency}}</span></h2>
        <p>{{dish.description}}</p>
        <ion-option-button class="button-assertive icon ion-plus-circled"
                      ng-click="addFavorite(dish.id)"
                      ng-if="!isFavorite(dish.id)">
        </ion-option-button>
        <ion-option-button class="button-assertive icon ion-minus-circled"
                      ng-click="removeFavorite(dish.id)"
                      ng-if="isFavorite(dish.id)">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
